[build-system]
requires = ["setuptools", "wheel", "setuptools_scm[toml]"]
build-backend = "setuptools.build_meta"

[tool.setuptools-git-versioning]
enabled = true

[project]
name = "{{ project_name | lower | replace(' ', '-') }}"
description = "{{ description }}"
dynamic = ["version"]
readme = "README.md"
license = { file = "LICENSE" }
requires-python = "{{ python_version }}"
dependencies = [
    {% for dep in dependencies %}
    "{{ dep }}",
    {% endfor %}
]

maintainers = [
{% for maintainer in maintainers %}
    { name = "{{ maintainer.name }}"{% if maintainer.email %}, email = "{{ maintainer.email }}"{% endif %} },
{% endfor %}
]

[tool.pytest.ini_options]
minversion = "6.2"
addopts = "-ra"
testpaths = ["tests"]

[tool.mypy]
files = ["src/**/*.py", "tests/**/*.py"]
ignore_missing_imports = true

[tool.ruff]
exclude = [
    ".git",
    ".venv",
    "build",
    "dist",
    "node_modules",
]
line-length = 88
indent-width = 4
target-version = "py39"

[tool.ruff.lint]
select = ["E", "F", "I", "W"]
# Enable autofix for all fixable rules
fixable = ["ALL"]
unfixable = []

[tool.ruff.lint.isort]
known-first-party = ["{{ package_name }}"]
force-sort-within-sections = true
combine-as-imports = true

[dependency-groups]
dev = ["pytest", "pytest-cov"]
